<style>
* {
  /* So 100% means 100% */
  box-sizing: border-box;
}
.hero-image{
  height:200px;
  width:200px;
  margin:14px;
  float:left;
}

@media only screen and (max-width: 406px) {
.bar {display:none;}
}

</style>

<div class='row'>
   <div class='col-md-6'>
      <h1 id='txtCenterTitle'><%=obj.title%></h1>
   </div>
</div>
<div class='row'>
  <div class='col-md-12' >
    
     <h2 id="CIS">Community Investment Strategy</a></h2> 
      In 2010, the Metro Council adopted a Community Investment Strategy (Ordinance 10-1244B) that proposes a coordinated approach to target investments for the most effective use of public and private resources within each community in the context of broader regional needs. The 2011 edition of the State of the Centers report is intended to help identify investment needs by illustrating current conditions and providing a comparison for centers across the region. 
    

    </div>
</div>
