<style>
* {
  /* So 100% means 100% */
  box-sizing: border-box;
}
.hero-image{
  height:200px;
  width:200px;
  margin:14px;
  float:left;
}

@media only screen and (max-width: 406px) {
.bar {display:none;}
}

</style>

<div class='row'>
   <div class='col-md-6'>
      <h1 id='txtCenterTitle'><%=obj.title%></h1>
   </div>
</div>
<div class='row'>
  <div class='col-md-12' >
    
     <h2 id="about">About</h2>
     The State of the Centers report helps measure progress in creating the type of centers envisioned in the 2040 Growth Concept and to illustrate the kind of investments that contribute to a successful center.
     

  </div>
</div>
