<style>
* {
  /* So 100% means 100% */
  box-sizing: border-box;
}
.hero-image{
  height:200px;
  width:200px;
  margin:14px;
  float:left;
}

@media only screen and (max-width: 406px) {
.bar {display:none;}
}

</style>

<div class='row'>
   <div class='col-md-6'>
      <h1 id='txtCenterTitle'><%=obj.title%></h1>
   </div>
</div>
<div class='row'>
  <div class='col-md-12' >
    
      <h2 id="SOC2011">2011 State of the Centers report</a></h2>
      Based on suggestions from local jurisdiction staff and other stakeholders, the 2011 edition of the State of the Centers report includes additional measures to help communities understand how their centers are performing, including information on jobs, income and transportation use. This report also included a visual representation of seven characteristics of a successful center and the relative strength of each compared to the region.  Another new feature is the addition of comparative data for a one-mile buffer zone, measured from the center’s boundary. Not surprisingly, as communities evolve aspirations for centers change. The 2011 report reflects the change in 2010 of the Tanasbourne Town Center to a regional center, the addition of Cornelius Town Center and the relocation of the Happy Valley Town Center. The 2011 report can be found here: 

      <h4 style="
    padding-top: 20px;
">
        View the <a href="http://www.oregonmetro.gov/sites/default/files/2011_state_of_the_centers_0.pdf" target="_blank">2011 State of the Centers Report</a></h4>
    </div>
</div>

