<style>
* {
  /* So 100% means 100% */
  box-sizing: border-box;
}
.hero-image{
  height:200px;
  width:200px;
  margin:14px;
  float:left;
}

@media only screen and (max-width: 406px) {
.bar {display:none;}
}

</style>

<div class='row'>
   
    <img src='./photos/About/1.jpg' class='hero-image'>
    <img src='./photos/About/2.jpg' class='hero-image'>
    <img src='./photos/About/3.jpg' class='hero-image'>
    <img src='./photos/About/4.jpg' class='hero-image'>
    <img src='./photos/About/5.jpg' class='hero-image'>
    <img src='./photos/About/6.jpg' class='hero-image'>
   
</div>
