<style>
* {
  /* So 100% means 100% */
  box-sizing: border-box;
}
.hero-image{
  height:200px;
  width:200px;
  margin:14px;
  float:left;
}

@media only screen and (max-width: 406px) {
.bar {display:none;}
}

</style>

<!-- <div class='row'>
   <div class='col-md-6'>
      <h1 id='txtCenterTitle'><%=obj.title%></h1>
   </div>
</div> -->
<div class='row'>
  <div class='col-md-12' >
    
     <h2 id="looking_forward">Looking forward</a></h2>
      Future editions of the State of the Centers report will be increasingly web-based, allowing the data to be updated regularly to better monitor the performance of a center in meeting desired outcomes for vibrant communities, jobs, transportation choices, greenhouse gas reduction and equity. New 2010 census data and other sources will continue to be reviewed and included, as relevant, while retaining key measures that will allow for comparisons over time. Metro is open to suggestions for improving the presentation of data or in defining new measures for evaluating performance. 

  </div>
</div>
