<div style='padding:10px;border:1px solid #DDD;border-radius:5px;background-color:#F1F7E5;margin-bottom:10px;'>
<table class='table table-condensed'>
<tr><td colspan='2'><strong>Private amenities</strong></td></tr>
<% for(var i=0;i<obj.amenities.private.length;i++) { %>
<tr><td><%=obj.amenities.private[i]%></td><td style='text-align:right;'><%=obj.data.private_amenities[i]%></td></tr>
<%}%>
</table>
<table class='table table-condensed'>
<tr><td colspan='2'><strong>Public amenities</strong></td></tr>
<% for(var i=0;i<obj.amenities.public.length;i++) { %>
<tr><td ><%=obj.amenities.private[i]%></td><td style='text-align:right;'><%=obj.data.public_amenities[i]%></td></tr>
<%}%>
</table>
</div>