<div class='row'>
    <div class='col-md-8 col-md-offset-2' style='border-top:1px solid #DDD'>
<p align="center"><span class="text-muted"><i>Data last updated July, 2015</i></span></p>

        <div class="social text-center">
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-flickr"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 text-center container copyright">
        Copyright Oregon Metro 2015 | All Rights Reserved
    </div>
</div>
