<div class='row'>
   <div class='col-md-12'>
      <h1 id='txtCenterTitle'><%=obj.title%></h1>
   </div>
</div>
<style>
.hero-image{
	height:200px;
	width:200px;
	margin:3px;
	float:left;
}
</style>
<div class='row' style='margin-bottom:20px;'>
   <div class='col-md-12'>
   <% if(typeof(obj.images) != 'undefined'){
      for(var i=0;i<obj.images.length;i++) { %>
            <img src='<%=obj.images[i]%>' class='hero-image'>
            <%}}%>
     </div>
   </div>
<div class='row'>
   <div class='col-md-12'>
      <p class="paragraph"><%=obj.narrative%></p>
   </div>
</div>
