<div style='padding:10px;border:1px solid #DDD;border-radius:5px;background-color:#F1F9FD;'>
    <table class='table table-condensed'>
        <tr>
            <th><strong>By the numbers</strong></th>
            <th>
                <%=obj.title%>
            </th>
            <th>
                <%=obj.type%> Average</th>
            <th>One-mile buffer</th>
        </tr>
        <tr>
            <td>Net acreage</td>
            <td>
                <%=obj.stats.net_acreage%>
            </td>
            <td>
                <%=obj.averages.net_acreage%>
            </td>
            <td>
                <%=obj.stats_1mi_buff.net_acreage%>
            </td>
        </tr>
        <tr>
            <td>Total population</td>
            <td>
                <%=obj.stats.total_pop%>
            </td>
            <td>
                <%=obj.averages.total_pop%>
            </td>
            <td>
                <%=obj.stats_1mi_buff.total_pop%>
            </td>
        </tr>
        <tr>
            <td>Total employees</td>
            <td>
                <%=obj.stats.total_num_employees%>
            </td>
            <td>
                <%=obj.averages.total_num_employees%>
            </td>
            <td>
                <%=obj.stats_1mi_buff.total_num_employees%>
            </td>
        </tr>
        <tr>
            <td>Non-SOV mode share (all trips)</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <td>Market value per square foot</td>
            <td>
                <%=obj.stats.market_value%>
            </td>
            <td>
                <%=obj.averages.market_value%>
            </td>
            <td>
                <%=obj.stats_1mi_buff.market_value%>
            </td>
        </tr>
        <tr>
            <td>People per acre</td>
            <td>
                <%=obj.stats.people_per_acre%>
            </td>
            <td>
                <%=obj.averages.people_per_acre%>
            </td>
            <td>
                <%=obj.stats_1mi_buff.people_per_acre%>
            </td>
        </tr>
        <tr>
            <td>Dwelling units per acre</td>
            <td>
                <%=obj.stats.du_per_acre%>
            </td>
            <td>
                <%=obj.averages.du_per_acre%>
            </td>
            <td>
                <%=obj.stats_1mi_buff.du_per_acre%>
            </td>
        </tr>
        <tr>
            <td>Total businesses per acre</td>
            <td>
                <%=obj.stats.total_biz_acre%>
            </td>
            <td>
                <%=obj.averages.total_biz_acre%>
            </td>
            <td>
                <%=obj.stats_1mi_buff.total_biz_acre%>
            </td>
        </tr>
        <tr>
            <td>Home ownership</td>
            <td>
                <%=obj.stats.pct_home_ownership%>
            </td>
            <td>
                <%=obj.averages.pct_home_ownership%>
            </td>
            <td>
                <%=obj.stats_1mi_buff.pct_home_ownership%>
            </td>
        </tr>
        <tr>
            <td>Median household income</td>
            <td>
                <%=obj.stats.med_HH_income%>
            </td>
            <td>
                <%=obj.averages.med_HH_income%>
            </td>
            <td>
                <%=obj.stats_1mi_buff.med_HH_income%>
            </td>
        </tr>
        <tr>
            <td>Median household size</td>
            <td>
                <%=obj.stats.avg_HH_size%>
            </td>
            <td>
                <%=obj.averages.avg_HH_size%>
            </td>
            <td>
                <%=obj.stats_1mi_buff.avg_HH_size%>
            </td>
        </tr>
        <tr>
            <td>Median age</td>
            <td>
                <%=obj.stats.med_age%>
            </td>
            <td>
                <%=obj.averages.med_age%>
            </td>
            <td>
                <%=obj.stats_1mi_buff.med_age%>
            </td>
        </tr>
    </table>
</div>
